<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/static/layout.css">
    <title>Credits - {{page_title}}</title>
  </head>
  <body>
    {% include 'header.html' %}
    {% include 'nav.html' %}
    <div>
      {% with messages = get_flashed_messages(category_filter=["success"]) %}
          {% if messages %}
            <div class="alert success">
              <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </div>
          {% endif %}
      {% endwith %}

      {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {% for msg in errors %}
              {{ msg }}
            {% endfor %}
        </div>
        {% endif %}
      {% endwith %}
    </div>
    <div class="mainbody">
      {% block content %}{% endblock %}
    </div>
    {% include 'footer.html' %}
  </body>
</html>