{% extends "layout.html" %}
{% block content %}

<!--This page handles the Login form. Uses put their login information into the two input fields, then press the submit button, passing through all the information to the Python code.-->

<div>
    <form action="" method="post">
        <h1>Login with Username and Password</h1>
        <div class="loginBoxes">
            <input type="text" name="username" id="username" placeholder="Username" class="loginUsername">
            <input type="password" name="password" id="password" placeholder="Password" class="loginPassword">
        </div>
        <div class="goButton">
            <!--The submit buttons-->
            <input type="submit" value="Login" class="submitButton">
        </div>
    </form>
</div>
{% endblock %}